@import "./reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  height: 100vh;
  list-style: inside;
  line-height: 2;
  font-size: 1.5em;
  font-weight: 900;
  margin-left: 30px;
  animation-name: moveToRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.frame {
  overflow-y: scroll;
  display: flex;
  flex: 1;
  /* width: 100vw; */
  height: auto;
  border: 5px solid black;
  background-position: top;
  opacity: 3;
  background-size: cover;
}

.description {
  line-height: 1.5;
  width: 60vw;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
