@import "./reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  height: 100vh;
  list-style: inside;
  line-height: 2;
  font-size: 1.5em;
  font-weight: 900;
  margin-left: 30px;
}

.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.frame {
  overflow-y: scroll;
  display: flex;
  flex: 1;
  /* width: 100vw; */
  height: auto;
  border: 5px solid black;
  background-position: top;
  opacity: 3;
  background-size: cover;
  /* clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 30% 100%); */
}

#58611129-2dbc-4a81-a72f-77ddfc1b1b49,
#ebbb6b7c-945c-41ee-a792-de0e43191bd8,
#ff24da26-a969-4f0e-ba1e-a122ead6c6e3,
#0440483e-ca0e-4120-8c50-4c8cd9b965d6,
.description {
  line-height: 1.5;
  width: 60vw;
}
