* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  height: 100%;
  line-height: 1.75em;
  font-size: 1.3em;
  font-weight: 900;
  margin-left: 2em;
  /* animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s; */
  /* opacity: 0;
  transition-duration: 1s;
  transition-property: background, trasform;
  transition-timing-function: ease-in;
  transition-delay: .5s; */
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

#hero-main {
  background-image: url("./images/Studio_Ghibli_Logo.jpg");
  background-position: center center;
  background-color: rgba(240, 240, 240, 6);
  background-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
}

.heroFrame {
  flex: 1 1 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  opacity: 0;
  transform: translate(0, 10vh);
  transition: ease-in 2s;
}

.heroFrame.visible {
  opacity: 1;
  transform: translate(0, 0);
}

div.heroFrame:nth-of-type(even) {
  flex-direction: row-reverse;
  padding-left: 2em;
}

div.heroFrame:nth-of-type(even) .catalog,
.filmFrame {
  padding-left: 0;
}

div.heroFrame:nth-of-type(even) .filmFrame {
  transform: unset;
}

.catalog {
  flex: 1 1 30%;
  background-color: transparent;
  opacity: 1;
  font-size: 1em;
  padding-left: 1em;
}

.filmFrame {
  flex: 1 1 45%;
  height: 45vh;
  transform: translateX(-10%);
  overflow: hidden;
  object-fit: cover;
}

.moreInfo {
  padding-top: 1em;
  text-decoration: underline black;
  cursor: pointer;
}

.moreInfo:hover {
  color: rgba(123, 123, 123, 0.9);
}

.infoModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 130, 180, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.infoModal.showing {
  display: flex;
}

.infoModal .infoList {
  padding-left: 0;
  height: auto;
  margin-left: 0;
  width: 80vw;
}

.infoList .listContent {
  padding-bottom: 1.1em;
}

.infoList .description + .listContent {
  font-size: 1em;
}

.closeButton {
  position: absolute;
  top: 2em;
  left: 2em;
  width: 2em;
  height: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
}

.listContent {
  font-size: 1.5em;
  padding-top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: translateX(-100vw); */
  }

  /* 80% {
    opacity: 0.8;
    transform: translateX(20px);
  } */

  100% {
    opacity: 1;
    /* transform: translateX(0); */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

::marker {
  content: "";
}

@media (max-width: 1024px) {
  #hero-main {
    background-image: url("./images/Studio-Ghibli-Logo.jpg");
    background-size: contain;
  }

  .heroFrame {
    flex-direction: column-reverse;
    padding-bottom: 1em;
  }

  div.heroFrame:nth-of-type(even) {
    flex-direction: column-reverse;
    padding-left: 0;
  }

  .filmFrame {
    flex: 1 1 45%;
    width: 100vw;
    transform: unset;
  }

  .catalog {
    align-self: flex-start;
    transform: translateY(1em);
    display: flex;
    align-items: center;
  }

  .infoModal {
    left: 0;
    bottom: 0;
    top: auto;
    overflow-y: visible;
  }

  ul {
    font-size: 1.1em;
  }
}
