html {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.5rem, 0.75rem + 1vw, 2rem);
  --light-font-color: white;
  --box-padding: 0.5rem;
  --box-shadow: 0.5rem;
  --page-header-background: #74bdcb;
  --page-main-background: #e7f2f8;
  --page-footer-background: #ffa384;
  --info-card-background: #efe7bc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

item-view {
  transition: 0.3s;
}

item-view:hover {
  opacity: 0.7;
}
