html {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.5rem, 0.75rem + 1vw, 2rem);
  --light-font-color: white;
  --box-padding: 0.5rem;
  --box-shadow: 0.5rem;
  --page-header-background: #74bdcb;
  --page-main-background: #e7f2f8;
  --page-footer-background: #ffa384;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#page-header {
  background-color: var(--page-header-background);
}

#page-title {
  font-size: 1.25rem;
  padding: var(--box-padding);
}

#page-main {
  padding: var(--box-padding);
  min-block-size: calc(100vh - 8em);
  background-color: var(--page-main-background);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.info-card.showing {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #efe7bc;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#page-footer {
  text-align: center;
  padding: var(--box-padding);
  background-color: var(--page-footer-background);
}

#content-info,
#author-info {
  font-size: 0.7rem;
}
